:root {
    --000000: #000000;
    --FEF2E3: #FEF2E3;
    --FFFFFF: #FFFFFF;
    --CECECE: #CECECE;
    --DEBB5C: #DEBB5C;
    --2f3f4c: #2f3f4c;
    --DDDDDD: #DDDDDD;
    --F3F3F3: #F3F3F3;
    --E6E6FA: #E6E6FA;
}